<h1>SecurePages#dashboard</h1>
<p>
  Find me in app/views/secure_pages/dashboard.html.erb
</p>

<br />

<p>
  <%= link_to "Home", root_path %>
</p>

<br />

<% if user_signed_in? %>
  <pre>
    curl -X GET --header 'Authorization: Bearer <%= JWTWrapper.encode({ user_id: current_user.id }) %>' '<%=request.scheme%>://<%= request.host_with_port%><%=request.fullpath%>'
  </pre>
<% end %>
