<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FirebaseRailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    data-controller-name="<%= controller_name %>"
    data-action-name="<%= action_name %>"
    data-firebase="<%= Rails.application.secrets[:firebase].to_json %>"
  >
    <div id="container">
      <%= yield %>
    </div>
  </body>
</html>
